html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header img {
  height: 40px;
}

#hackathon {
  position: absolute;
  text-align: center;
  padding: 10px 20px;
  top: 0;
  right: 0;
  font-family: 'Readex Pro', sans-serif;
  font-size: 18px;
  color: #0B326D;
  background-color: white;
  border: 2px solid #0B326D;
  border-top: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: 25px;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-image: url("../images/corse.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

canvas{
  position: absolute;
  z-index: 999999;
  width: 25vw;
  height: 75vh;
  transform: translateX(-50%);
}

img {
  height: 100vh;
}

#tutorial{
    margin-left: 800px;
}

.info{
  color: black;
}

.btn-play{
  color: black;
  float: right;
  padding-right: 30px;
}

.card{
  position: absolute;
  border: solid 2px linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
  border-radius: 10px;
  padding: 20px 15px;
  width: 15%;
  margin-top: 50px;
}

.HUD{
  position: absolute;
  width: 100vw;
  height: 100vh;

}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F14516;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F14516;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.choice {
  margin-top: 5px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
}
